@font-face {
  font-family: dumbledor;
  src: url(../font/dumbledor/dum1/dum1.ttf);
}
@font-face {
  font-family: harryp;
  src: url(../font/harry_p/HARRYP__.TTF);
}
@font-face {
  font-family: harrypotter7;
  src: url(../font/it-all-ends-here-harry-potter-7_font/HarryPotter7.ttf);
}
@font-face {
  font-family: SlabSerHPLHS;
  src: url(../font/educational-decree_font/SlabSerHPLHS.otf);
}
@font-face {
  font-family: lumos;
  src: url(../font/lumos/LUMOS.TTF);
}
@font-face {
  font-family: purple-3;
  src: url(../font/have-you-seen-this-wizard_font/purple-3.ttf);
}
@font-face {
  font-family: magicschoolone;
  src: url(../font/magic_school/MagicSchoolOne.ttf);
}
@font-face{
  font-family: tatu;
  src: url(../font/);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*  Inicio NavBar*/
nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "harryp";
  background: rgba(26, 32, 44, 0.5);
  z-index: 9999;
  position: relative;
  width: 100%;
  min-height: 50px;
}

.logo {
  display: inline-block;
  padding-left: 20px;
  max-width: 100%;
}
.logo img {
  height: 3rem;
}

.nav-links {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.nav-links a {
  color: #d1d0d5;
  text-decoration: none;
  font-size: 25px;
  padding: 14px 16px;
  text-shadow: 2px 2px 5px #537569;
}
.bar {
  color: #d1d0d5;
}
.nav-links li a.active {
  background: #45413e;
  opacity: 85%;
}
.nav-links li a:hover:not(.active) {
  background: #e19e09;
  opacity: 81%;
  color: black;
  text-shadow: 2px 2px 5px #4c4845;
}

.nav-menu-icon {
  display: none;
}

/*  Fin NavBar*/

html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  left: 0;
  top: 0;
  font-size: 100%;
}

h1 {
  margin: 6px;
  font-size: 3rem;
  font-family: harryp, serif;
  letter-spacing: 3px;
  color: #c8972e;
  text-shadow: 2px 2px 5px #121514;
}

h2 {
  margin: 5%;
  font-size: 2rem;
  font-family: harryp, serif;
  color: #e19e09;
}

h3 {
  margin: 5%;
  font-size: 1.375rem;
  font-family: harryp, serif;
  color: #e19e09;
}
.h3-book {
  margin: 2%;
  font-size: 1.375rem;
  font-family: harryp, serif;
  color: #e19e09;
}

.p-spell{
  line-height: 1;
}

h4 {
  font-size: 1.125rem;
  font-family: dumbledor;
  color: white;
}

h6 {
  font-size: 0.875rem;
  font-family: harryp, serif;
  color: white;
}

p {
  font-size: 1rem;
  font-weight: 200;
  line-height: 1.2;
  font-family: dumbledor;
  color: white;
  letter-spacing: 1px;
}

.col-6 center {
  justify-content: space-around;
}

.left {
  text-align: left;
}

.right {
  text-align: right;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.justify {
  text-align: justify;
}

.container {
  width: auto;
  margin: 0;
}

.row {
  position: relative;
  width: 100%;
}

.row [class^="col"] {
  float: left;
  margin: 0.5rem 2%;
  min-height: 0.125rem;
}

.mt-10 {
  margin-top: 10px;
}

.mb-20 {
  margin-bottom: 20px;
}

.p-card-sch {
  font-size: 18px;
  margin-top: 2.5rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 96%;
}

.col-1-sm {
  width: 4.33%;
}

.col-2-sm {
  width: 12.66%;
}

.col-3-sm {
  width: 21%;
}

.col-4-sm {
  width: 29.33%;
}

.col-5-sm {
  width: 37.66%;
}

.col-6-sm {
  width: 46%;
}

.col-7-sm {
  width: 54.33%;
}

.col-8-sm {
  width: 62.66%;
}

.col-9-sm {
  width: 71%;
}

.col-10-sm {
  width: 79.33%;
}

.col-11-sm {
  width: 87.66%;
}

.col-12-sm {
  width: 96%;
}

.col-3-school {
  width: 96%;
}

.col-3-character {
  width: 96%;
}

.col-3-potions{
  width: 96%;
}
.row::after {
  content: "";
  display: table;
  clear: both;
}

.hidden-sm {
  display: none;
}

.school-card-center {
  margin-right: auto !important;
  margin-left: auto !important;
}

#start {
  background-image: url("../img/harrypotterhead.jpg");
  background-repeat: no-repeat;
  width: 100%;
  height: 1080px;
  display: flex;
  margin-top: -76px;
}

.startstyle1 {
  font-family: "purple-3";
  will-change: auto;
  height: 35%;
  position: relative;
}

.startstyle1 p {
  font-size: 25px;
  color: #832f2c;
  text-align: center;
  font-family: "harryp";
}

.button {
  width: 140px;
  height: 50px;
  border-radius: 5px;
  border: none;
  background-color: #c8972e;
  margin: 2px;
  padding: 5px;
  color: rgb(255, 240, 252);
  text-align: center;
  font-family: "harryp";
  font-size: 36px;
  letter-spacing: 2px;
  cursor: pointer;
}

.img-main {
  display: flex;
  justify-content: flex-start;
  width: 263px;
  border-radius: 8px;
}


/* Footer */
.footer {
  background: rgba(26, 32, 44, 0.5);
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: static;
  margin-bottom: 0;
  width: 100%;
  margin-top: auto;
  float:right;
}

.footer_text {
  text-align: -webkit-center;
  margin: 0;
  font-family: "harryp";
}

.footer_img {
  align-self: center;
  border-radius: 80%;
}

.social_media {
  display: flex;
  justify-content: center;
  width: auto;
  list-style-type: none;
  color: #fff;
}

.social_media_icons {
  color: #fff;
  width: 2rem;
  height: 2rem;
  margin: auto 0.5rem;
}

.social_media_icons:hover {
  color: #e19e09;
}

/* Sect pages */

.bodypage {
  background-image: url("../img/background/starBg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "dumbledor";
  color: #fff;
}

.title-section {
  justify-content: center;
  text-align: center;
  color: #ffffff;
}
.titles {
  font-family: "magicschoolone";
  font-size: 8vw;
  text-align: center;
  margin: 0;
}

.t-paragraph {
  text-align: center;
  font-size: 2vw;
  letter-spacing: 0.5px;
  margin: revert;
  padding: 0 119px;
}

/* Sort */
.filter-alphabet {
  font-family: "harrypotter7";
  color: #fff;
  background: #e19e09;
  position: relative;
  width: 60px;
  height: 21px;
  border-radius: 6px;
}

.sorter-funfacts {
  justify-content:center;
  display: inline;
  margin: 15px;
}

.labelname{
  font-family: "harrypotter7";

}

/* card */

.img-spell {
  width: 250px;
  height: 282px;
  border-radius: 6px;
}

.style-potion {
    width: 250px;
    height: 306px;
    border-radius: 6px;
    margin-top: 17px;
}

.img-spell2 {
  width: 250px;
  height: 385px;
  border-radius: 6px;
  margin-top: 17px;
}
.scene {
  width: 285px;
  height: 418px;
  border: none;
  margin: 40px 0;
}

.card-main {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 6px;
  max-width: 100%;
}

.card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 6px;
  max-width: 100%;
}

.card-book {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 6px;
  max-width: 100%;
}

.card.is-flipped {
  transform: rotateY(180deg);
}

.card_face {
  position: absolute;
  width: 100%;
  height: 100%;
  line-height: 20px;
  color: white;
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  background-color: #832f2c;
  transform: rotateY(180deg);
  border-radius: 6px;
  padding: 13px;
}

.center {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none;
}

.card-fun {
  width: 100%;
  height: 300px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.2);
  color: #E19E09;
  padding: 30px;
}

.card-fun-content > h2 {
  padding: 5px;
  color: #E19E09;
}

.p-card-fun {
  color: White;
  font-size: 18px;
}

.card-potion {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 2px;
  max-width: 100%;
  padding: 10px;
}

.school-card {
  width: 100%;
  height: 100%;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 6px;
  max-width: 100%;
}

.school-card.is-flipped {
  transform: rotateY(180deg);
}

.card-character {
  width: 100%;
  height: 300px;
  transition: transform 1s;
  transform-style: preserve-3d;
  cursor: pointer;
  position: relative;
  background-color: rgba(131, 47, 44, 0.7);
  border-radius: 6px;
  max-width: 100%;
}

.card-character.is-flipped {
  transform: rotateY(180deg);
}

.img-schools {
  margin: 5%;
  width: 75%;
  height: 75%;
  border-radius: 6px;
}

/* CSS Card Characters */

.card-characters-img {
  height: 170px;
  display: block;
  margin-top: 5px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  border-radius: 6px;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: white;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #832F2C;
  color: white;
}


