@font-face {
  font-family: dumbledor;
  src: url(../src/font/dumbledor/dum1/dum1.ttf);
}
@font-face {
  font-family: harryp;
  src: url(../src/font/harry_p/HARRYP__.TTF);
}
@font-face {
  font-family: harrypotter7;
  src: url(../src/font/it-all-ends-here-harry-potter-7_font/HarryPotter7.ttf);
}
@font-face {
  font-family: SlabSerHPLHS;
  src: url(../src/font/educational-decree_font/SlabSerHPLHS.otf);
}
@font-face {
  font-family: lumos;
  src: url(../src/font/lumos/LUMOS.TTF);
}
@font-face {
  font-family: purple-3;
  src: url(../src/font/have-you-seen-this-wizard_font/purple-3.ttf);
}
@font-face {
  font-family: magicschoolone;
  src: url(../src/font/magic_school/MagicSchoolOne.ttf);
}

#start{
  background-image: url("img/harrypotterhead.jpg");
  width: 100%;
  height: 100%;
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "harryp";
  background-color: #E7EDEB;
  opacity: 10%; 
  z-index: 9999;
  position: fixed;
  width: 100%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: #e9bd15;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 16px;
}

.nav-links li a.active{
  background: #45413E;
  opacity: 85%;
}
.nav-links li a:hover:not(.active){
  background: #C8972E;
  opacity: 81%;
  color:black;
}

#button {
  border-radius: 5px;
  border: none;
  background-color: #C8972E;
  margin: 2px;
  padding: 5px;
  color: rgb(255, 240, 252);
  text-align: center;
  font-family: "harryp";
}

.img{
  box-sizing: border-box;
  width: 40%;
}



.footer{
  background-color: #222;
  padding: 1rem;
  color: #fff;
  margin-top: auto;
  font-family: "harryp";
  font-size: 20px;

}

footer div {
  float: right;
}

footer p{
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;

}

footer a:hover {
  color: #C8972E;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 100px;

}

.backg {
  background: #ecf0f1;
  padding: 1em;
}

