@font-face {
  font-family: dumbledor;
  src: url(./font/dumbledor/dum1/dum1.ttf);
}
@font-face {
  font-family: harryp;
  src: url(./font/harry_p/HARRYP__.TTF);
}
@font-face {
  font-family: harrypotter7;
  src: url(./font/it-all-ends-here-harry-potter-7_font/HarryPotter7.ttf);
}
@font-face {
  font-family: SlabSerHPLHS;
  src: url(./font/educational-decree_font/SlabSerHPLHS.otf);
}
@font-face {
  font-family: lumos;
  src: url(./font/lumos/LUMOS.TTF);
}
@font-face {
  font-family: purple-3;
  src: url(./font/have-you-seen-this-wizard_font/purple-3.ttf);
}
@font-face {
  font-family: magicschoolone;
  src: url(./font/magic_school/MagicSchoolOne.ttf);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "harryp";
  background-color: #E7EDEB; 
   z-index: 9999; 
  position: relative;
  width: 100%;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 100%;

}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: #e9bd15;
  text-decoration: none;
  font-size: 20px;
  padding: 14px 16px;
}

.nav-links li a.active{
  background: #45413E;
  opacity: 85%;
}
.nav-links li a:hover:not(.active){
  background: #C8972E;
  opacity: 81%;
  color:black;
}

#button {
  border-radius: 5px;
  border: none;
  background-color: #C8972E;
  margin: 2px;
  padding: 5px;
  color: rgb(255, 240, 252);
  text-align: center;
  font-family: "harryp";
  
}