@font-face {
  font-family: dumbledor;
  src: url(./font/dumbledor/dum1/dum1.ttf);
}
@font-face {
  font-family: harryp;
  src: url(./font/harry_p/HARRYP__.TTF);
}
@font-face {
  font-family: harrypotter7;
  src: url(./font/it-all-ends-here-harry-potter-7_font/HarryPotter7.ttf);
}
@font-face {
  font-family: SlabSerHPLHS;
  src: url(./font/educational-decree_font/SlabSerHPLHS.otf);
}
@font-face {
  font-family: lumos;
  src: url(./font/lumos/LUMOS.TTF);
}
@font-face {
  font-family: purple-3;
  src: url(./font/have-you-seen-this-wizard_font/purple-3.ttf);
}
@font-face {
  font-family: magicschoolone;
  src: url(./font/magic_school/MagicSchoolOne.ttf);
}

nav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-family: "harryp";
  background-color: #4C4845;
  opacity: 50%;
  z-index: 9999;
  position: relative;
  width: 100%;
  height: 50px;
}

.logo{
  display: inline-block;
  padding-left: 20px;
  max-width: 100%;
}
.logo img{
  width: 100%;
  max-height: 3rem;
}

.nav-links{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.nav-links li {
  list-style: none;
}

.nav-links a{
  color: #D1D0D5;
  text-decoration: none;
  font-size: 25px;
  padding: 14px 16px;
  text-shadow: 2px 2px 5px #537569;
}

.checkbtn{
  font-size: 15px;
  color: #fff;
  float: right;
  line-height: 40px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

#start{
  background-image: url("/img/harrypotterhead.jpg");
  width: 100%;
  height: 170vh;
}

.startstyle1{
  background-color: #7B7F82;
  opacity: 60%;
  width: 418px;
  height: 155px;
  position: relative;
  top: 10%;
  left: 49%;
  margin-top: -72px;
  margin-left: -622px;
  font-family: "purple-3";
  padding: 44px;
  
}

.startstyle2{
  width: 418px;
  height: 330px;
  position: relative;
  top: 37%;
  left: 55%;
  font-family: "purple-3";
  padding: 44px;
  
}

.startstyle1 p, .startstyle2 p{
  font-size: 25px;
  color: #832F2C;
  text-align: center;
}

.bar{
  color: #D1D0D5;
}
.nav-links li a.active{
  background: #45413E;
  opacity: 85%;
}
.nav-links li a:hover:not(.active){
  background: #C8972E;
  opacity: 81%;
  color:black;
  text-shadow: 2px 2px 5px #4C4845;
}

#button {
  border-radius: 5px;
  border: none;
  background-color: #C8972E;
  margin: 2px;
  padding: 5px;
  color: rgb(255, 240, 252);
  text-align: center;
  font-family: "harryp";
}

.grid img{
  box-sizing: border-box;
  width: 40%;
}

.footer{
  background-color: #222;
  padding: 1rem;
  color: #fff;
  margin-top: auto;
  font-family: "harryp";
  font-size: 20px;

}

footer div {
  float: right;
}

footer p{
  margin: 0;
}

footer a {
  transition: color 0.3s ease;
  color: #fff;
  text-decoration: none;

}

footer a:hover {
  color: #C8972E;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto 100px;

}

.backg {
  background: #ecf0f1;
  padding: 1em;
}

@media(max-width:952px){
  .logo{
    padding-left: 20px;
  }
  nav ul li a{
    font-size: 14px;
  }
}

@media(max-width:858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 50px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  nav ul li{
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 16px;
  }
  li a:hover, li a.active{
    background: none;
  }
  #check:checked ~ ul{
    left: 0;
  }
}